.venv/
.vscode/
.idea/
.pytest_cache/
secrets.yaml
*.pyc
*.pyd
*.pyo
*.pyz
*.egg-info/
*.egg
*.egg-link
*.egg-info
*.egg-info
**/__pycache__/**
settings.local.yaml
out/*
!out/.gitkeep
.cache
.config
.triton
wandb/
data/
.env
.local
.netrc